<div class="container-fluid" style="background-image: url(../../../assets/headerbackground.jpg)">
    ...
    <nav class="navbar justify-content-between" style=" padding-bottom: 40px;">
        <a class="navbar-brand text-white"><i class="fa fa-gg" aria-hidden="true"></i> Finzly Bank</a>
        <span class="space"></span>
        <a class="navbar-brand text-white"> <i class="fa fa-envelope" aria-hidden="true"></i></a>
        <a class="navbar-brand text-white">
            <i class="fa fa-bell" aria-hidden="true"></i>
        </a>
        <div class="dropdown pmd-dropdown pmd-user-info ml-auto text-white" style="font-size: 14px; padding-top: 4px;">
            <a class="btn-user dropdown-toggle media align-items-center" data-toggle="dropdown" data-sidebar="true"
                aria-expanded="false">
                <div class="media-body">
                    Duraipandi
                </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <a class="dropdown-item">Edit Profile</a>
                <a class="dropdown-item">Logout</a>
            </ul>
        </div>
    </nav>
    <div class=" row" style="padding-left: 15px; padding-bottom: 20px;">
        <div class="col-sm-5 col-md-6 text-white">Current Account</div>
    </div>
    <div class="row" style="padding-left: 15px;padding-bottom: 20px;">
        <div class="col-sm-6 col-lg-4 text-white" style="font-size:25px;  padding-top:10px; ">$ 270
            651<small style="font-size:15px;  ">00</small></div>

        <div class=" col-sm-3 col-md-1 col-lg-2 col-md-6 text-white"><button
                class=" inline rounded-sm makeButtonstyle">Make a
                Payment</button>
        </div>
        <div class="col-sm-3 col-md-1 col-lg-2 col-md-4 text-white"><button
                class=" inline rounded-sm requButtonstyle">Requisties</button></div>

        <div class="col-sm-4 col-lg-4 text-white align-self-end d-none d-lg-block d-xl-block d-md-block"><button class=" rounded-lg
            requButtonstyle"> <span style="color:red">● </span><span style="font-weight: bold;"> 3
                    Task</span> in the amonut of $
                910</button></div>
    </div>
    <hr style="color: aliceblue;" class="d-lg-none d-md-none ">
    <p class="inline text-white d-lg-none d-md-none circle" style="padding-left: 15px">Tasks <span
            class="w3-badge w3-red">3</span>
    </p>
    <p class="text-white d-lg-none d-md-none" style="float: right"><i class="fa fa-bar-chart" aria-hidden="true"></i>
        Analytics
    </p>
</div>